<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         stopOnFailure="false"
         colors="true"
         verbose="true"
         bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="Library Test Suite">
            <directory>./YandexOld/Tests/Common</directory>
            <directory>./YandexOld/Tests/Metrica</directory>
            <directory>./YandexOld/Tests/Market/Partner</directory>
            <directory>./YandexOld/Tests/Market/Content</directory>
            <directory>./YandexOld/Tests/OAuth</directory>
            <directory>./YandexOld/Tests/Disk</directory>
            <directory>./YandexOld/Tests/Speller</directory>
            <directory>./YandexOld/Tests/Passport</directory>
            <directory>./YandexOld/Tests/DataSync</directory>
            <directory>./YandexOld/Tests/SiteSearchPinger</directory>
            <directory>./YandexOld/Tests/SafeBrowsing</directory>
            <directory>./YandexOld/Tests/Dictionary</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="\YandexOld\Tests\TestListener" />
    </listeners>
    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">../docs</directory>
            <directory suffix=".php">../examples</directory>
            <directory suffix=".php">../vendor</directory>
        </blacklist>
    </filter>
</phpunit>